.blog-content{
    display: flex;
    margin-top: rem(100);
    gap: rem(65);


    &-left{
        img{
            width: 100%;
        }
    }   

    &-text{
        margin-top: rem(40);
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        line-height: rem(27);
        color: var(--text-gray);
    }

    &-heading{
        font-style: normal;
        font-weight: normal;
        font-size: rem(25);
        text-align: center;
        line-height: rem(32);
        color: var(--black);
        font-family: var(--font-overpass);
        margin-bottom: rem(30);
    }


    &-right{
        margin-top: rem(35);

        .blog-content-right-item{
            margin-bottom: rem(48);
            h5{
                font-family: var(--font-overpass);
                font-style: normal;
                font-weight: normal;
                font-size: rem(20);
                line-height: rem(25);
                color: var(--black);
            }

            p{
                font-family: var(--font-overpass);
                font-style: normal;
                font-weight: 300;
                font-size: rem(13);
                line-height: rem(21);
                letter-spacing: 0.05em;
            }


            .tags{
                span{
                    font-family: var(--font-overpass);
                    font-style: normal;
                    font-weight: 300;
                    font-size: rem(13);
                    line-height: rem(21);
                    letter-spacing: 0.05em;
                    display: inline;
                    margin-right: rem(5);
                }
            }
        }
    }


    @include breakpoint-down(small){
        &-right{
            display: none;
        }
    }

}