:root {
	--white: hsl(0, 0%, 100%);
	--black: #1A1A1A;
	--text-gray:#555555;
	--link-active: #3F51B5;
	--gray:#E6E6E6;
	--time-gray:#777777;
	--card-heading-text:#474747;
	--light-gray: #F4F4F4;
	--neutral-gray:#DFDFDF;
}


