@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;800;900&display=swap');

:root {
	--font-roboto: 'Roboto Mono', monospace;
	--font-overpass: 'Overpass', sans-serif;
}
